@charset "UTF-8";

*:root {
    --cor1: #C7CBBD;
    --cor2: #D0CDBA;
    --cor3: #799098;
    --cor4: #4E6B7B;
    --cor5: #053A59;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor3);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    /* atualização com flexbox */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#login {
    position: absolute;
    overflow: hidden;
    background-color: var(--cor2);
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.315);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #4E6B7B url(../imagens/pexels-jplenio-1103970\ \(1\).jpg);
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

#form > p {
    font-size: 0.8em;
}

form > div#campo, div.campo {
    background-color: var(--cor3);
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    border: 2px solid #4E6B7B;
    margin: 5px 0px;
}

form label {
    display: none;
}

input[type=email], input[type=password] {
    border-radius: 8px;
    border: 1px solid #4e6b7b4f;
    font-size: 1em;
    width: calc(100% - 44.4px);
    height: 100%;
    padding: 4px;
    transform: translateY(-13px);
}

input[type=email], input[type=password]:focus-within {
    background-color: white;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 35px;
    margin-top: 10px;
    background-color: var(--cor4);
    color: var(--cor2);
    border: none;
    border-radius: 5px;
}

form > input[type=submit]:hover {
    background-color: var(--cor5);
    cursor: pointer;
}
form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 35px;
    padding-top: 5px;
    margin-top: 7px;
    background-color: var(--cor3);
    border: 1px solid #4e6b7b4f;
    border-radius: 5px;
    text-decoration: none;
    color: #053A59;
}

form > a.botao > .material-symbols-outlined {
    font-size: 0.9em;
}

form > a.botao:hover {
    color: var(--cor2);
    background-color: var(--cor5);
}